In [1]:
a = 3

In [2]:
print(a)

3

In [3]:
a = "pepe"

In [4]:
type(a)

str

In [13]:
b = {}
print(type(b))

<class 'dict'>

In [25]:
for a in range(5):
    print(a+1)

1
2
3
4
5

In [27]:
a = 0
while a<5:
    print(a)
    a += 1 # a = a+1

0
1
2
3
4

In [30]:
a = 0
while True:
    print(a)
    a += 1
    if a > 4:
        break

0
1
2
3
4

In [35]:
nombres = ["Pepe","Juan"] 
nombres
print(type(nombres))

<class 'list'>

In [33]:
nombre1 = "Pepe"
nombre2 = "Juan"
#....

In [41]:
nombres[-3]

IndexError: list index out of range

In [43]:
nombres = ["Pepe","Juan"] 

for nombre in nombres:
    print("Hola " + nombre)

Hola Pepe
Hola Juan

In [48]:
for i in range(len(nombres)):
    print("Index",i,"Nombre",nombres[i])

Index 0 Nombre Pepe
Index 1 Nombre Juan

In [50]:
nombres = ["Pepe","Juan"] 
edades = [30,25]
for i in range(len(nombres)):
    print(nombres[i],edades[i])

Pepe 30
Juan 25

In [51]:
nombres = [["Pepe",30],["Juan",25]]
for e in nombres:
    print(e[0],e[1])

Pepe 30
Juan 25

In [53]:
nombres = ["Pepe","Juan"] 
edades = [30,25]
list(zip(nombres,edades))

[('Pepe', 30), ('Juan', 25)]

In [54]:
list(range(5))

[0, 1, 2, 3, 4]

In [55]:
nombres = ("Pepe","Juan") 
type(nombres)

tuple

In [57]:
saludos = []
for i in range(5):
    saludos.append("Hola"+str(i))
    print(len(saludos))
print(saludos)

1
2
3
4
5
['Hola0', 'Hola1', 'Hola2', 'Hola3', 'Hola4']

In [58]:
saludos = ()
for i in range(5):
    saludos.append("Hola"+str(i))
    print(len(saludos))
print(saludos)

AttributeError: 'tuple' object has no attribute 'append'

In [59]:
nombres = ("Pepe","Juan") 

for e in nombres:
    print(e)

Pepe
Juan

In [60]:
nombres * 2

('Pepe', 'Juan', 'Pepe', 'Juan')

In [61]:
nombres

('Pepe', 'Juan')

In [64]:
["Hola"] + [10]

['Hola', 10]

In [68]:
a = "Hola que tal estas"
for e in a:
    print(e)

H
o
l
a

q
u
e

t
a
l

e
s
t
a
s

In [69]:
a = "Hola que tal estas"
set(a)

{' ', 'H', 'a', 'e', 'l', 'o', 'q', 's', 't', 'u'}

In [78]:
a = set("Hola que tal estas")
b = set("Hola")
print(a,b)
b.issubset(a)

{'t', ' ', 'u', 'a', 'e', 'l', 'H', 'o', 's', 'q'} {'a', 'l', 'H', 'o'}

True

In [88]:
a = set("hola")
b = set("adios")
a.difference(b)

{'h', 'l'}

In [89]:
print(a,b)

{'a', 'h', 'l', 'o'} {'d', 'a', 's', 'o', 'i'}

In [92]:
a | b

{'a', 'd', 'h', 'i', 'l', 'o', 's'}

In [93]:
[["Pepe",30,"Tenis",[5,8,9]]]

[['Pepe', 30, 'Tenis', [5, 8, 9]]]

In [95]:
pepe = {
    "nombre":"Pepe",
    "edad":30,
    "aficion":"Tenis",
    "notas": [5,8,9]
}

In [97]:
pepe["edad"]

30

In [98]:
pepe.keys()

dict_keys(['nombre', 'edad', 'aficion', 'notas'])

In [99]:
pepe.values()

dict_values(['Pepe', 30, 'Tenis', [5, 8, 9]])

In [100]:
pepe.items()

dict_items([('nombre', 'Pepe'), ('edad', 30), ('aficion', 'Tenis'), ('notas', [5, 8, 9])])

In [105]:
for p in pepe.items():
    print("[key]",p[0],"[value]",p[1])

[key] nombre [value] Pepe
[key] edad [value] 30
[key] aficion [value] Tenis
[key] notas [value] [5, 8, 9]

In [106]:
for key,value in pepe.items():
    print("[key]",key,"[value]",value)

[key] nombre [value] Pepe
[key] edad [value] 30
[key] aficion [value] Tenis
[key] notas [value] [5, 8, 9]

In [107]:
'''
a = 1
b = 2
c = 3
'''
# Unpack
a,b,c = [1,2,3]
print(a,b,c)

1 2 3

In [110]:
a = 1
b = 2
c = 3
l = [a,b,c]
print(l)

[1, 2, 3]

In [113]:
[pepe,pepe]

[{'nombre': 'Pepe', 'edad': 30, 'aficion': 'Tenis', 'notas': [5, 8, 9]},
 {'nombre': 'Pepe', 'edad': 30, 'aficion': 'Tenis', 'notas': [5, 8, 9]}]

In [112]:
hermanos = [pepe,pepe]
for e in hermanos:
    print("Hola",e["nombre"])

Hola Pepe
Hola Pepe

In [116]:
list(pepe.values())[0]

'Pepe'

In [119]:
m = {
    0:"Hola",
    1:"que",
    2:"tal"
    3:"tal"
}

print(m)
print(m[0])

{0: 'Hola', 1: 'que', 2: 'tal'}
Hola

In [125]:
a = {
    True:"Si",
    False:"No",
    "true":"si"
}
print(a)

{True: 'Si', False: 'No', 'true': 'si'}

In [127]:
a = [0,0,0,0,0,0,0,0,0]
b = [0,0,0,0,10000,0,0,0,0]