# Movies dataset example

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('./data/movie_ratings.csv').set_index('Movie')

In [5]:
df

,Brandon,Emily,Cleo,Rusty,Samantha
Movie,,,,,
Aquaman,4,1,2,2,2
Avengers: Infinity War,2,5,2,5,5
Black Panther,5,2,5,1,1
Bohemian Rhapsody,2,3,4,4,1
Deadpool 2,3,2,4,5,1
Fantastic Beasts: The Crimes of Grindelwald,5,4,1,2,5
Incredibles 2,4,2,3,4,4
Jurassic World: Fallen Kingdom,2,3,5,4,5
Mission: Impossible – Fallout,5,5,4,3,2
Venom,4,1,4,5,2

# NLP Recommender System

- Count Vectorizer [https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html]

# NLP Recommender with stemming and lemmatization

- https://www.nltk.org/howto/stem.html
- http://www.nltk.org/api/nltk.stem.html?highlight=lemmatizer
- https://www.datacamp.com/community/tutorials/stemming-lemmatization-python